<div class="container">
    <div class="row">
        <article class="col-xs-12 col-md-8">
          <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col" *ngFor="let c of canciones">
              <div class="card">
                <img src="{{c.imagen}}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{c.nombre}}</h5>
                  <p class="card-text">{{c.artista}}</p>
                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="obtenerTrack(c)">
                    Reproducir
                  </button>
                </div> 
              </div>
            </div>
          </div>
        </article>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">{{titulo}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="{{imagen}}" class="card-img-top" alt="...">
        <div *ngIf = "mostrar == 'S'">
          <audio src="{{preview}}" controls></audio>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>